@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-container {
  background: #fff;
  width: 375px;
  height: 667px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.play-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 1rem;
}

.play-top span {
  font-size: 1.3rem;
  cursor: pointer;
  opacity: 0.7;
}

.play-top span:hover {
  opacity: 1;
}

.play-top .prev-page-btn {
  font-size: 1.7rem;
}

.play-header {
  width: 100%;
  height: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.play-header .play-img {
  position: absolute;
  top: 0;
  width: 220px;
  height: 400px;
  border-bottom-left-radius: 4.5rem;
  border-bottom-right-radius: 4.5rem;
}

.play-header .play-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-left-radius: 4.5rem;
  border-bottom-right-radius: 4.5rem;
}

.song-title {
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.artist {
  margin-top: 0.2rem;
  font-size: 0.85rem;
  font-weight: 300;
}

.progress-container {
  margin-top: 0.7rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-duration {
  display: flex;
  justify-content: space-between;
  width: 295px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 300;
}

.progress-duration .duration {
  text-align: center;
}

.progress-div {
  width: 300px;
  height: 0.5rem;
  background: #f0f0f0;
  border-radius: 4rem;
  position: relative;
  transition: all 1s linear;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  margin-top: 0.3rem;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background: #000;
  border-radius: 4rem;
  transition: width 1s linear;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.btn-top {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0 1.3rem 0;
}

.btn-top .heart,
.btn-top .share,
.btn-top .volume {
  font-size: 1.1rem;
  opacity: 0.7;
  cursor: pointer;
}

.btn-top .heart:hover,
.btn-top .share:hover,
.btn-top .volume:hover {
  opacity: 1;
}

.btn-bottom {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  font-size: 1.2rem;
  padding: 0 20px;
}

.btn-bottom .shuffle,
.btn-bottom .repeat {
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-bottom .shuffle:hover,
.btn-bottom .repeat:hover {
  opacity: 1;
}

.btn-top .heart.active {
  opacity: 1;
  animation: baloon 1s;
  transition: animation 1s ease-in-out;
}

@keyframes baloon {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  0% {
    transfomr: translateY(0);
  }
}

.btn-bottom {
  width: 100%;
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 4fr 1fr;
  font-size: 1.2rem;
  padding: 0 20px;
}

.btn-bottom .shuffle,
.btn-bottom .repeat {
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-bottom .shuffle:hover,
.btn-bottom .repeat:hover {
  opacity: 1;
}

.play-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.play-btns img {
  width: 31px;
  height: 31px;
}

.play-btns .play {
  background: url("img/play.png") no-repeat;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-position: center center;
}

.play-btns span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 80ms ease-in-out;
}

.play-btns span:hover {
  transform: scale(1.1);
}
